@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 색상 변수 정의 */
    --color-bg-light: #e5e7eb; /* gray-200 */
    --color-bg-dark: #111827; /* gray-900 */
    --color-surface-light: #d5d5d5; /*  */
    --color-surface-dark: #1f2937; /* gray-800 */
    --color-border-light: #b9b9b9;  /* gray-200 */
    --color-border-dark: #374151;   /* gray-700 */
    --color-text-light: #111827;  /* gray-200 */
    --color-text-dark: #e5e7eb;   /*gray-900*/
  }

  body {
    @apply bg-[--color-bg-light] text-[--color-text-light] dark:bg-[--color-bg-dark] dark:text-[--color-text-dark];
  }
}

@layer components {
  /* 기본 버튼 스타일 */
  .btn {
    @apply py-2 px-3 rounded transition-colors duration-200;
  }
}


@layer utilities {

  .stack-surface {
    @apply bg-[--color-surface-light] dark:bg-[--color-surface-dark] rounded-lg shadow-sm p-4;
  }
  .stack-outlined {
    @apply border border-[--color-border-light] dark:border-[--color-border-dark] rounded-lg p-4;
  }

}